<%= form_for @user, url: premium_path(@user), html: { method: :put } do |f| %>
<div class="field">
<p><%="Usted abonando un sólo pago de 25ARS una única vez podrá ser un usuario premium por siempre ingresando el número de tarjeta de credito seguido de su pin y el responsable de la misma"%></p>
<p> <%= f.label :tarjeta %>
 <%= f.text_field :tarjeta, autofocus: true,placeholder: '1111111111111111',pattern: '^\d{16}$', :required => true,title:"16 caracteres requeridos" %></p>
<p><%= f.label "pin" %>
<%= f.text_field :pintarjeta, autofocus: true,placeholder: '111',pattern: '^\d{3}$',:required => true, title:"3 caracteres requeridos" %></p>
<p><%= f.label "dueño" %>
<%= f.text_field :dueñotarjeta, autofocus: true,placeholder: 'ej: Pablo Gonzalez',:pattern => '^[a-zA-Z ]+$', :required => true, title:"Sólo letras permitidas" %></p>
<%= f.submit 'Guardar', class: 'btn btn-primary btn-lg'%>
 </div>

<% end %>
 
<h1> <%= link_to "Atras", root_path,class: 'btn btn-primary btn-lg' %> </h1> 