<div id = modificar_datos>
<h2 style="color: blue">Modifica tus datos de <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label "nombre" %><br />
        <%= f.text_field :name, autofocus: true %></div>

  <div><%= f.label :apellido %><br />
        <%= f.text_field :apellido, autofocus: true %></div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

   <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label "contraseña" %> <i>(dejalo en blanco si no quieres cambiarlo)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label "confirmar contraseña" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

   <div><%= f.label :edad %><br />
        <%= f.number_field :edad, autofocus: true, min: 18 %></div>


   <div><%= f.label :telefono %><br />
        <%= f.number_field :telefono, autofocus: true,placeholder: '221876432' %></div>


 <div class="field">
    <%= f.label "contraseña actual" %> <i>(necesitamos tu contraseña actual para guardar los cambios)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p><%= button_to "Cancelar mi cuenta", registration_path(resource_name), data: { confirm: "¿Esta seguro?" }, method: :delete %></p>
<div>
<%= link_to "Atras", :back ,class: 'btn btn-info btn-lg'%>
