<p><div id=list_hosp_boton><%= link_to "Ver listado de hospedajes", lodgings_path,class: 'btn btn-success btn-sm'%></p></div>
<div id="bienvenida">
<% if user_signed_in? %>
	 Bienvenido <%= current_user.email %>
	 <% if current_user.es_admin==true%> 
	 	<p> <%= link_to "Agregar un tipo de hospedaje", new_lodgingtype_path  %> </p>
	 	<p> <%= link_to "Lista de tipos de hospedaje", lodgingtypes_path  %> </p>
	 <% end %>
	 <%if current_user.es_admin !=true%>
	 	<%if current_user.es_premium!=true%>
 			<p><%= link_to "Ser usuario Premium", edit_premium_path(current_user.id)%></p>
 		<%else%>
 		 	<p><%= link_to "Modificar mi tarjeta", edit_premium_path(current_user.id)%></p>
 	 <%end%>
 	<%end%>
 	<p><%= link_to "Modificar perfil",edit_user_registration_path%>
	<p><%= link_to "Cerrar sesión", destroy_user_session_path, method: :delete %></p>
<% else %>
	<p><%= link_to "Crea una cuenta", new_user_registration_path, class: 'btn btn-success btn-sm' %></p>
	<p><%= link_to "Logueate", new_user_session_path,  class: 'btn btn-success btn-sm' %></p>
<%end%>
</div>


