
<h3> Reservar</h3>
<%= form_for @reserva do |f| %>
<%= f.label "Ingreso" %>
<%= f.date_field :dateinit, :required => true%>
<%= f.label "Salida" %>
<%= f.date_field :dateexit, :required => true %>
<%= f.submit 'Enviar' %>
<% end %>
<h1> <%= link_to "Atras", lodgings_path,class: 'btn btn-info btn-lg' %> </h1>


