<p><h1 style="color: green"> Listado de Hospedajes </h1></p>

<div>
		<%= form_tag lodgings_path, :method => 'get' do%>
			<%= "Título"%>
			<%= text_field_tag :search_titulo, params[:search_titulo], placeholder: "Búsqueda por título" %>
			<%= "Cantidad de personas"%>
			<%= text_field_tag :search_cant, params[:search_cant], placeholder: "Búsqueda por cantidad de personas" %>
			<%= "Zona"%>
			<%= text_field_tag :search_zona, params[:search_zona], placeholder: "Búsqueda por zona" %>
			<%= "Tipo de hospedaje"%>
			<%= select_tag :search_tipo_id, options_from_collection_for_select(Lodgingtype.all, 'id', 'tipo', params[:search_tipo_id]), include_blank: true %>
			<%= submit_tag "Buscar"%>
		<% end %>
	</div>

<table class="table">

	

		<tr>
			<th> </th>
			<th> Título </th>
			<th> Descripción </th>
			<th> Acción </th>
		</tr>

		<% @lodgings.each do |lodging| %>
			<tr>	
				<%if lodging.user.es_premium==true && user_signed_in? %>
					<td><%=  image_tag lodging.url, size: "50x50" %></td>
				<%else %>
					<td> <%= image_tag "https://cdn4.iconfinder.com/data/icons/pictype-free-vector-icons/16/home-128.png",  size: "50x50" %> </td>
				<%end%>
				<td> <%= lodging.titulo %> </td>
				<td> <%= lodging.descripcion %> </td>
				<td> <%= link_to "Más", lodging, class: 'btn btn-info btn-sm' %> </td>
			</tr>
		<% end %>

		<% if @lodgings.size == 0 %>
			<tr> <td colspan="3"> No hay hospedajes para mostrar </td> </tr>
		<% end %>
	

	
</table>

 <h1> <%= link_to "Hospedajes", lodgings_path %> </h1> 
 <h1> <%= link_to "Pagina principal", root_path %> </h1> 
 <% if user_signed_in? %>
 <h1> <%= link_to "Mis hospedajes", mostrar_lodging_path(@lodgings) %> </h1>
<%end%>