
<h3>ingrese las fechas en las cuales usted quiere visualizar la ganancias</h3>
	<% @ok = 0%>
	<%= form_tag profit_index_path, :method => 'get' do%>
		Fecha Inicial :	
		<%= @ok %>
		<%= datetime_select("start_date", params[:start_date], prompt: true, :discard_hour => true, :discard_minute => true, :discard_second => true, :required => true) %></br>
		Fecha Final :
		<%= datetime_select("end_date",  params[:end_date], prompt: true,  :discard_hour => true, :discard_minute => true, :discard_second => true, :required => true) %></br>
		<%= @ok %>
		<%= submit_tag "Calcular"%>
		<%= @ok %>
	<%end%>
	<% if @ok == 1%>
		<%"Se debe realizar calculos"%>
	<%end%>
<h1> <%= link_to "Atras", root_path %> </h1> 